.container {
  padding: 0;
}

.card-container {
  margin: 0 auto;
}

.carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .evento-detailhe > .p-grid {
  border: 1px solid #b3c2ca;
  border-radius: 3px;
  margin: 0.3em;
  text-align: center;
  padding: 2em 0 2.25em 0;

}

.carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item, .evento-nome {
  font-weight: 700;
  margin-top: 24px;

}

.carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .car-subtitle {
  margin: 0.25em 0 2em 0;

}


.carousel-demo .ui-carousel.custom-carousel .ui-carousel-dot-icon {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50%;
}

.carousel-demo .ui-carousel.ui-carousel-horizontal .ui-carousel-content .ui-carousel-item.ui-carousel-item-start .evento-detailhe > .p-grid {
  margin-left: 0.6em;
}
.carousel-demo .ui-carousel.ui-carousel-horizontal .ui-carousel-content .ui-carousel-item.ui-carousel-item-end .evento-detailhe > .p-grid {
  margin-right: 0.6em;
}


a, span, h1 {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.p-nogutter {
  max-width: 370px;
  min-width: 300px;
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.container-img {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  transition: all .5s ease-in-out;
  margin-bottom: -4px;
}

img:hover {
  -ms-transform: scale(1.2, 1.2); /* IE 9 */
  transform: scale(1.2, 1.2); /* Standard syntax */
}


.info-evento {
  padding: 1em;
  width: auto;
  justify-content: flex-start;
  text-align: center;
  background-color: #222B45;
}

.evento-nome, .local-data, .valor {
  font-weight: 700;
  font-size: 3vw;
  text-align: center;
}

.localidade {
  padding: 1em;
  display: flex;
  font-size: 2em;
  justify-content: center;
  background-color: #222B45;
}

.evento-nome {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

.data-valor {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  background-color: rgb(31, 33, 34);
  color: white;
  padding: 1em;
}

.data {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  line-height: 1.375rem;
  padding: 15px 0 0 15px;
}

.local, .cidade {
  display: block;
  font-size: 1.3em;
}

.local {
  font-weight: 700;
}

.valor {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  flex: 1 0 0;
  padding: 5px 15px 5px 5px;
}


@media all and (max-width: 600px) {

  .evento-nome {
    font-size: 4.5vw;
    text-align: center;
    bottom: 55%;
  }
}

@media all and (min-width: 601px) {
  .container {
    padding: 0;
  }

  h1 {
    font-size: 2.5em;
  }

  .card-container {
    align-self: center;
    width: 100%;
  }

  .evento-nome {
    font-size: 30px;
  }
}

@media all and (min-width: 1800px) {

  .card-container {
    width: 70%;
  }


}
