<section class="container">
  <div class="login">
    <div class="titulo">Login</div>
      <form>
        <div class="p-field p-grid">
          <label for="login" class="p-col-fixed">Login</label>
          <div class="p-col">
            <input id="login" type="text" pInputText>
          </div>
        </div>
        <div class="p-field p-grid">
          <label for="senha" class="p-col-fixed">Senha</label>
          <div class="p-col">
            <input id="senha" type="password" pInputText>
          </div>
        </div>

        <div class="p-field p-grid">
          <button label="Login" pButton class="ui-button-primary largura-total"></button>
        </div>
    </form>

    <div style="text-align: center">
      <a routerLink="/recuperarSenha">Recuperar Senha</a>
    </div>
    <hr>

    <div style="text-align: center">
      <span>Ainda não possuo conta </span><a routerLink="/criarConta">Criar uma</a>
    </div>
  </div>

</section>
