.wrapper {
  display: flex;
  justify-content: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #116FBF;
  display: inline-block;
  cursor: pointer;
  padding: .5em;
}

.inputfile:focus + label,
.inputfile + label:hover {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;

}
