<section class="container">
  <div class="login">
    <div class="titulo">Login</div>
      <form>
        <app-input-texto id="login"
                         [tipo]="'text'"
                         required="true"
                         [label]="'Login'"
                         [(ngModel)]="cliente.login.usuario" name="usuario">
        </app-input-texto>

        <app-input-texto id="senha"
                         [tipo]="'password'"
                         required="true"
                         [label]="'Senha'"
                         [(ngModel)]="cliente.login.senha" name="senha">
        </app-input-texto>

        <div class=" p-grid p-dir-col">
          <div class="p-col">
            <button label="Login" pButton class="ui-button-primary largura-total"></button>
          </div>
        </div>
    </form>

    <div style="text-align: center">
      <a routerLink="/conta/resetar-senha">Recuperar Senha</a>
    </div>
    <hr>

    <div style="text-align: center">
      <span>Ainda não possuo conta </span><a routerLink="/conta/criar-conta">Criar uma</a>
    </div>
  </div>

</section>
