    <ul class="navigation">
        <li class="logo">EVENTOS D'AHORA</li>
        <li  [className]="exibir ? 'item active' : 'item'" >
            Criar evento
        </li>
        <li  [className]="exibir ? 'item active' : 'item'" 
            (click)="minhaConta()">
            Minha conta
        </li>
        <li [className]="exibir ? 'item active' : 'item'" >
            
                <i class="pi pi-shopping-cart" style="font-size: 1.5em;"></i>
            
        </li>
        <li class="toggle" (click)="toggle()">
            <i class="pi pi-bars"></i>
        </li>
    </ul>
<router-outlet></router-outlet>