<app-banner [evento]="evento" [mostrarBusca]="false"></app-banner>
<section class="container">

  <div class="escolha">
    <ul class="filtro">
      <li>Filtrar por:</li>
      <li>Todos</li>
      <li>VIP</li>
      <li>Premium</li>
      <li>Camarote</li>
      <li>Pista</li>
      <li>
        <ng-select [items]="ordemPreco"
                   placeholder="Preço"
                   [clearable]="false"
                   [searchable]="false"
                   [(ngModel)]="ordemPrecoSelecionada"
                   name="ordemPrecoSelecionada"
                   id="pais"
                   class="select">
        </ng-select>
      </li>
    </ul>

    <div class="ingresso" >
      <h1>Escolha seu ingresso</h1>
      <div *ngFor="let i of [1, 2, 3, 4, 5]" style="margin-bottom: 1em">
        <app-escolha-ingresso></app-escolha-ingresso>
      </div>
    </div>

    <ng-template [ngIf]="isMobile" [ngIfElse]="desktop">
      <div class="assento">
        <p-accordion>
          <p-accordionTab header="Ver mapa do ambiente">
            <div style="background: #1c1f1f; height: 100%" >
              <img src="/assets/mapa-ambiente.png">
            </div>
          </p-accordionTab>

        </p-accordion>
      </div>
    </ng-template>

    <ng-template #desktop>
      <div class="assento">
        <h1>Escolha onde vai sentar</h1>
        <p-card>
          <img src="/assets/mapa-ambiente.png" style="width: 100%; height: 360px">
        </p-card>
      </div>
    </ng-template>

    <div class="local-evento">
     <p-card>
       <img src="/assets/mapa.png" style="width: 100%; height: 100%"/>
     </p-card>
    </div>
  </div>


</section>
