.container {
  padding: 1em;
}

h1 {
  font-size: 2.5em;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: stretch;
  margin-bottom: 1em;

  .upper {
    display: flex;
    width: 100%;

  }

  .data-horario, .info-evento, .comprar{
    width: 100%;
    text-align: center;
    border: 2px solid black;
    border-top: none;
    background-color: #222B45;
    padding: 1em;
  }
  .data-horario {
    flex-shrink: 2;
  }

  .comprar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      color: white;
      cursor: pointer;
      font-size: 1.5em
    }

    i:hover {
      color: #116FBF;
    }

    button {
      width: 100%;
      margin: 1.5em;
    }
  }

}

@media all and (min-width: 900px)  {
  .row {
    flex-wrap: nowrap;

    .comprar{
      flex-shrink: 3;
    }
  }
}
