<section class="container">
  <div class="registrar p-grid">
    <div class="titulo">Nova conta</div>
    <form>
      <app-input-texto id="nome"
                       [placeholder]="'Nome Completo'"
                       [label]="'Nome'"
                       required="true"
                       [(ngModel)]="cliente.nome" name="nome">
      </app-input-texto>

      <app-input-texto id="email"
                       [placeholder]="'E-mail'"
                       [label]="'E-mail'"
                       required="true"
                       [(ngModel)]="cliente.email" name="email">
      </app-input-texto>

      <app-input-texto id="senha"
                       [label]="'Senha'"
                       [placeholder]="'Senha'"
                       [tipo]="'password'"
                       required="true"
                       [(ngModel)]="cliente.login.senha" name="senha">
      </app-input-texto>

      <app-input-texto id="confirmaSenha"
                       [placeholder]="'Confirmação da senha'"
                       [tipo]="'password'"
                       required="true"
                       [(ngModel)]="cliente.login.senha" name="senha">
      </app-input-texto>

      <app-select [label]="'País'"
                  [id]="pais"
                  [itens]="paises">

      </app-select>

      <app-input-mask [id]="'celular'"
                      [mask]="'+99 (99)-9999-9999'"
                      [placeholder]="'(99)-9999-9999'"
                      [label]="'Número celular'">
      </app-input-mask>

      <div class=" p-grid p-dir-col">
        <div class="p-col">
          <button pButton label="Registrar" class="ui-button-primary largura-total"></button>
        </div>
      </div>
    </form>

    <hr>

    <div style="text-align: center">
      <span>Já possui uma conta? </span><a routerLink="/conta/login">Realizar login</a>
    </div>
  </div>

</section>
