label {
  color: white;
  font-size: .8em;
  margin-left: 1em;
}

:host::ng-deep {
  .ng-select {
    margin: .5em;

    ::ng-deep {
      .ng-select.ng-select-single, .ng-select-container {
        height: 51px;
        background-color: #0C1324;
        border: none;
        color: white;
      }
    }


  }


}
