.totalizacao {
  display: flex;
  justify-content: center;

  .icone, .desc {
    padding: .5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  }

  .icone {
    background-color: #222B45;
    padding: 0 2em;
  }

  .desc {
    background-color: #007AD9;
    width: 100%;

    .titulo {
      font-size: 20px;
      display: inline-block;
      margin: 4px 0 10px 0;
      color: #ffffff;
    }

    .valor {
      color: #ffffff;
      font-size: 36px;
    }
  }
}
