<section class="container">
  <div class="login">
    <div class="titulo">Recuperar Senha</div>
    <div style="text-align: center; padding: 5px;">
      Informe seu endereço de e-mail abaixo, um link para recuperar a senha será enviado</div>
    <form>
      <div class="p-field p-grid">

        <div class="p-col">
          <label for="email" class="p-col-fixed">E-mail</label>
          <app-input-texto id="email"
                           required="true"
                           [(ngModel)]="cliente" name="email">
          </app-input-texto>
        </div>
      </div>

      <div class="p-field p-grid">
        <button label="Enviar e-mail de recuperação de senha" pButton class="ui-button-primary largura-total"></button>
      </div>
    </form>

  </div>

</section>
