.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login {
  width: 95%;
  justify-content: center;
  align-items: center;
  color: white;
}

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 1em;
}

.titulo {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}

span {
  letter-spacing: .08em;
  text-decoration: none;
}

/* Tablet*/
@media all and (min-width: 500px) {
  .login {
    width: 400px;
  }

  a {
    padding: 20px;
    text-align: center;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}
