.descricao-container {
  display: flex;

  .essa, .passada {
    padding: 1em;
    line-height: 2em;
    color: white;

    div:last-child {
      font-size: 1.5em;
    }
  }
}

.registros {
  display: flex;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      margin: .5em;


      .descricao {
        display: flex;
        align-items: center;
        padding: .5em;
        background-color: #151A30;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        div {
          padding: .5em;
          line-height: 2em;
          span {
            display: block;
          }
        }

        div:last-child {
            margin-left: auto;
        }

      }
    }
  }


}
