<section class="container">
  <div class="registrar p-grid">
    <div class="titulo">Nova conta</div>
    <form>
      <div class=" p-grid p-dir-col">
        <div class="p-col">
          <label class="p-col-fixed" style="width:100px">Nome Completo</label>
          <app-input-texto id="nome"
                     [placeholder]="'Nome Completo'"
                     required="true"
                     [(ngModel)]="cliente.nome" name="nome">
          </app-input-texto>
        </div>
      </div>

      <div class=" p-grid p-dir-col">
        <div class="p-col">
          <label for="email" class="p-col-fixed" style="width:100px">E-mail</label>
          <app-input-texto id="email"
                           [placeholder]="'E-mail'"
                           required="true"
                           [(ngModel)]="cliente.email" name="email">
          </app-input-texto>
        </div>
      </div>

      <div class=" p-grid p-dir-col">
        <div class="p-col">
          <label for="senha" class="p-col-fixed" style="width:100px">Senha</label>
          <app-input-texto id="senha"
                           [placeholder]="'Senha'"
                           [tipo]="'password'"
                           required="true"
                           [(ngModel)]="cliente.login.senha" name="senha">
          </app-input-texto>
        </div>

        <div class="p-col">
          <app-input-texto id="confirmaSenha"
                           [placeholder]="'Confirmação da senha'"
                           [tipo]="'password'"
                           required="true"
                           [(ngModel)]="cliente.login.senha" name="senha">
          </app-input-texto>
        </div>
      </div>

      <div class=" p-grid p-dir-col">
        <div class="p-col">
          <label for="pais" class="p-col-fixed" style="width:100%">País</label>
          <ng-select [items]="paises"
                     placeholder="País"
                     [clearable]="false"
                     [searchable]="false"
                     [(ngModel)]="pais"
                     id="pais"
                     class="select">
          </ng-select>
        </div>
      </div>

      <div class=" p-grid p-dir-col" style="margin-bottom: 20px">
        <label for="celular" class="p-col-fixed">Número celular</label>
        <div class="p-col">
          <p-inputMask
            id="celular"
            mask="+99 (99)-9999-9999"
            placeholder="(99)-9999-9999"></p-inputMask>
        </div>
      </div>

      <div class=" p-grid p-dir-col" style="margin-bottom: 20px">
        <div class="p-col">
          <button label="Registrar" pButton class="ui-button-primary largura-total"></button>
        </div>
      </div>
    </form>


    <hr>

    <div style="text-align: center">
      <span>Já possui uma conta? </span><a routerLink="/login">Realizar login</a>
    </div>
  </div>

</section>
