<div class="rodape">
  <section class="p-grid">
    <div class="p-col-12 p-md-4 p-lg-4">
      <ul>
        <li><strong>Eventos d'ahora</strong></li>
        <li>Rua dos bobos nº 0</li>
        <li>Brasil - Vulgo cu do mundo</li>
        <li>Telefone: 4002-8922</li>
        <li><strong>Horário de Atendimento</strong></li>
        <li>De 2ª á 6ª feira, das 11h às 17h</li>
      </ul>
    </div>


    <div class="p-col-12 p-md-4 p-lg-4">
      <ul>
        <li><strong>Atendimento</strong></li>
        <li>Atendimento</li>
        <li>Meia Entrada</li>
        <li>Fale Conosco</li>
        <li>Ajuda</li>
      </ul>
    </div>

    <div class="p-col-12 p-md-4 p-lg-4">
      <ul>
        <li><strong>Eventos d'ahora</strong></li>
        <li>Criar Evento</li>
        <li>Minha Conta</li>
        <li>Fale Conosco</li>
        <li>De 2ª á 6ª feira, das 11h às 17h</li>
      </ul>
    </div>
  </section>

</div>
