<section class="p-grid p-justify-center dashboard-container">

  <div class="p-col">
    <app-card-analytics [header]="'Vendas'"
                        [valorEstatistica]="9846.44"
                        [periodo]="'semana'">
    </app-card-analytics>
  </div>
  <div class="p-col">
    <app-card-analytics [header]="'Visualizações'"
                        [valorEstatistica]="9846.44"
                        [periodo]="'dia'">
    </app-card-analytics>
  </div>
  <div class="p-col">
    <app-card-analytics [header]="'Usuários'"
                        [valorEstatistica]="9846.44"
                        [periodo]="'dia'">
    </app-card-analytics>
  </div>


</section>
