.container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 1rem;
    overflow-x: scroll;
    border-bottom: 2px solid #3333;
    background-color: red;;

    button {
        margin:5px; 
    }
}



/* Tablet*/
@media all and (min-width: 500px) {

    .container {
        display: flex;
        justify-content: center;
    }   
    
}

