<label *ngIf="label">{{label}}</label>
<p-calendar [(ngModel)]="data"
            [placeholder]="placeholder"
            [timeOnly]="somenteHorario"
            [showTime]="horaEdata"
            [inline]="inline"
            [style]="{width: '100%'}">
</p-calendar>
