.container {
  padding: 6em 1em 1em 1em;
}

.carrinho-vazio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.carrinho {
  display: flex;
  flex-direction: column;
  width: 100%;

  .titulo-carrinho {
    text-align: center;
    margin: 0 0 10px 0;
  }

  h1, p, a, i {
    color: black;
  }

  h1 {
    font-size: 4.5vw;
    margin: 2px;
  }

  p {
    font-size: 3.5vw;
    margin: 2px;
  }

  .eventos {
    display: flex;
    flex-direction: column;


    .infos-evento {
      display: flex;
      flex-direction: column;
      border: 1px solid #999999;
      padding: 1em;
      border-radius: 7px;
      margin-bottom: 10px;

      .conteudo-horizontal {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          font-size: 1.25em;
        }
      }

      div {
        p {
          font-size: .875em;
        }
      }

      .fechar {
        font-size: 1em;
        display: flex;
        align-self: end;
      }

      .excluir {
        display: none;
      }

      select {
        padding: 5px 10px 5px 10px;
      }

      hr {
        width: 100%;
        background: #999999;
      }

      .subtotal {
        font-size: 2em;
      }

      a {
        text-align: center;
        margin: 10px;
        text-decoration: underline;
      }

      a:hover {
        text-decoration: none;
      }
    }

  }
}



@media all and (min-width: 800px) {
  .carrinho {
    width: 60%;
    margin-top: 50px;
    h1 {
      font-size: 2.5em ;
    }

    p {
      font-size: 1.5vw;
    }


    .eventos {
      .infos-evento {
        border: none;
        border-radius: 0;
        border-top: 1px solid black;

        .conteudo-horizontal {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h1 {
            font-size: 1.5em;
          }
        }

        div {
          p {
            font-size: 1em;
          }
        }


        hr {
          display: none;
        }

        .fechar {
          display: none;
        }

        .excluir {
          display: block;
          margin-left: auto;
          cursor: pointer;
        }

        .subtotal {
          font-size: 1.8em;
        }

      }
    }
  }
}


