.banner{
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 300px;

  .imagem-evento {
    filter: brightness(60%);
    height: 100%;
    width: 100%;
  }


  .infos-evento {
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: white;

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }

   .input {
      display: none;
    }
  }
}

@media all and (min-width: 600px) {
  .banner {
    .infos-evento {
      bottom: 5%;
      transform: translate(-50%, -5%);
      .input {
        display: block;
      }
    }
  }
}


/* Desktop */
@media all and (min-width: 900px) {
     .banner {
        width: 100%;
        height: 550px;

       .infos-evento {
         bottom: 10%;
         transform: translate(-50%, -10%);

         h1 {
           font-size: 4em;
         }

         p {
           font-size: 1.5em;
         }
       }
    }


}

