<section class="card-container">
  <p-carousel [value]="eventos"
              [numVisible]="4"
              [numScroll]="3"
              [circular]="false"
              [responsiveOptions]="responsiveOptions"
              class="carrossel">
    <p-header>
      <h1>Eventos Populares</h1>
    </p-header>
    <ng-template let-evento pTemplate="item">
      <a routerLink="evento">
        <div class="car-details"
             fxLayoutAlign="center"
             fxLayout="row"
             fxLayout.xs="row"
             fxLayoutGap.xs="0">

          <div class="p-nogutter">
            <div class="container-img"><img src="/assets/monte.jpg"/></div>
            <div class="evento-nome">{{evento.nome}}</div>
            <div class="info-evento">
              <span class="local">{{evento.local}}</span>
              <span class="cidade">Brasília</span>

            </div>

            <div class="data-valor">
              <span class="data">{{evento.data}}</span>
              <span class="valor">R$ {{evento.valor}},00</span>
            </div>

          </div>
        </div>
      </a>
    </ng-template>
  </p-carousel>

  <p-carousel [value]="eventos"
              [numVisible]="4"
              [numScroll]="3"
              [circular]="false"
              [responsiveOptions]="responsiveOptions"
              class="carrossel">
    <p-header>
      <h1>Eventos Populares</h1>
    </p-header>
    <ng-template let-evento pTemplate="item">
      <a href="">
        <div class="car-details"
             fxLayoutAlign="center"
             fxLayout="row"
             fxLayout.xs="row"
             fxLayoutGap.xs="0">

          <div class="p-nogutter">
            <div class="container-img"><img src="/assets/monte.jpg"/></div>
            <div class="evento-nome">{{evento.nome}}</div>
            <div class="info-evento">
              <span class="local">{{evento.local}}</span>
              <span class="cidade">Brasília</span>

            </div>

            <div class="data-valor">
              <span class="data">{{evento.data}}</span>
              <span class="valor">R$ {{evento.valor}},00</span>
            </div>

          </div>
        </div>
      </a>
    </ng-template>
  </p-carousel>

  <p-carousel [value]="eventos"
              [numVisible]="4"
              [numScroll]="3"
              [circular]="false"
              [responsiveOptions]="responsiveOptions"
              class="carrossel">
    <p-header>
      <h1>Eventos Populares</h1>
    </p-header>
    <ng-template let-evento pTemplate="item">
      <a href="">
        <div class="car-details"
             fxLayoutAlign="center"
             fxLayout="row"
             fxLayout.xs="row"
             fxLayoutGap.xs="0">

          <div class="p-nogutter">
            <div class="container-img"><img src="/assets/monte.jpg"/></div>
            <div class="evento-nome">{{evento.nome}}</div>
            <div class="info-evento">
              <span class="local">{{evento.local}}</span>
              <span class="cidade">Brasília</span>

            </div>

            <div class="data-valor">
              <span class="data">{{evento.data}}</span>
              <span class="valor">R$ {{evento.valor}},00</span>
            </div>

          </div>
        </div>
      </a>
    </ng-template>
  </p-carousel>
</section>
