<section class = "container">
    <p-carousel [value]="eventos" 
            [numVisible]="3" 
            [numScroll]="3" 
            [circular]="false" 
            [responsiveOptions]="responsiveOptions"
            >
    <p-header>
        <h1>Eventos Populares</h1>
    </p-header>
    <ng-template let-evento pTemplate="item" >
        <div class="car-details" 
            fxLayoutAlign="center"  
            fxLayout="row"
            fxLayout.xs="row"
            fxLayoutGap.xs="0">

            <div class="p-nogutter" fxFlexOffset="10px">
                <img src="/assets/monte.jpg"/>
                <div class="p-col-12 car-data">
                    <div class="car-title">{{evento.nome}}</div>
                    <div class="car-subtitle">{{evento.local}} | {{evento.valor}}</div>

                    <div class="car-buttons">
                        <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                        <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                        <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>
</section>
