
.navigation{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 2;
  width: 100%;
  margin: 0 0 1.5em 0;
  list-style: none;
  padding: 0 3em 0 3em;
  transition-duration: .5s;
}

.colorido {
  transition-duration: .5s;
  background: #faf8f7;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.75);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.75);
  height: auto;

  li {
    color: white;
  }
}


.navigation li {
  text-decoration: none;
  display: flex;
  padding: 1em;
  color: black;
  align-self: center;
}

.navigation li:hover{
  text-decoration: underline;
  cursor: pointer;
}

.navigation li.toggle {
  display: none;
}

.navigation li.logo  {
  justify-self: self-start;
  margin-right: auto;
  font-size: 1.5em;
}


@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-between;
    padding: 0;
  }
  .navigation li {
    text-align: center;
    padding: 10px;
    width: 100%;
    flex-grow: 1;
  }

  .navigation li.toggle {
    display: flex;
  }

  .navigation li.item {
    display: none;
  }

  .navigation li.carrinho {
    i {
      margin-left: auto;
    }
  }
}
