.header {
  width: 100%;
  text-align: center;
  line-height: 1.25em;
  background: #c2c0bf;
  position: relative;
}

.navigation{
  display: flex;
  justify-content: flex-end;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  margin: 0;
  list-style: none;
  transition-duration: .5s;
}

.colorido {
  background: #faf8f7;
  -webkit-box-shadow: 0 3px 14px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 3px 14px 0 rgba(0,0,0,0.75);
  box-shadow: 0 3px 14px 0 rgba(0,0,0,0.75);
  height: auto;
}


.navigation li {
  text-decoration: none;
  display: flex;
  padding: .6em;
  align-self: center;
}

.navigation li:hover{
  text-decoration: underline;
  cursor: pointer;
}

.navigation li.toggle {
  display: none;
}

.navigation li.logo  {
  justify-self: self-start;
  margin-right: auto;
  font-size: 1.5em;
}


@media all and (max-width: 900px) {
  .navigation {
    justify-content: space-between;
    padding: 0;
    background-color: black;
  }
  .navigation li {
    text-align: center;
    padding: 10px;
    color: white;
    width: auto;
  }

  .navigation li.toggle {
    display: flex;

    i{
      padding-left: .8em;
    }
  }

  .navigation li.logo {
    margin-right: inherit;
  }

  .navigation li.item {
    display: none;
  }

  .navigation li.carrinho {
    i {
      margin-left: auto;
      padding-right: .8em;
    }
  }
}
