<div class="banner">

  <picture class="imagem-evento">
    <source media="(min-width: 900px)" srcset="/assets/guns.jpg">
    <source media="(min-width: 600px)" srcset="/assets/guns-tablet.jpg">
    <img src="/assets/guns-mobile.jpg" alt="IfItDoesntMatchAnyMedia">
  </picture>

  <ng-template [ngIf]="evento">
    <div class="infos-evento">

      <a routerLink="/checkout/evento"><h1>{{ evento.nome }}</h1></a>
      <p>{{ evento.data }}</p>
      <p>{{ evento.hora }}</p>
      <a (click)="navigateToCategoria(local, evento)">
        {{ evento.localizacao.local }},</a>&nbsp;&nbsp;

      <a (click)="navigateToCategoria(pais, evento)">
        {{ evento.localizacao.pais }},</a>&nbsp;&nbsp;

      <a (click)="navigateToCategoria(cidade, evento)">
        {{ evento.localizacao.cidade }}</a>
      <br>
      <a (click)="navigateToCategoria(nome, evento)">{{ evento.nome }}</a>
      <p style="margin-bottom: 1em">Ingressos a partir de {{ evento.ingressos[0].tipos[0].preco}}</p>

      <div [ngStyle]="{'display': mostrarBusca && !isMobile ? 'block' : 'none' }">
        <app-input-busca></app-input-busca>
      </div>
    </div>
  </ng-template>

</div>
