.banner{
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;

  .imagem-evento {
    filter: brightness(65%);
    height: 100%;
    width: auto;
    overflow: hidden;
  }


  .infos-evento {
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translate(-50%, 0%);
    text-align: center;
    width: 100%;

    h1, p, a {
      margin: .3em;
      text-align: center;
    }

    a:not(:first-child) {
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }

    a:not(:first-child):hover {
      text-decoration: none;
    }

   .input {
      display: none;
    }
  }
}

@media all and (min-width: 600px) {
  .banner {
    height: 400px;
    .imagem-evento {
      width: 100%;
    }

    .infos-evento {
      bottom: 32%;
      transform: translate(-50%, -5%);
      .input {
        display: block;
        margin-top: 30px;
      }
    }
  }
}


/* Desktop */
@media all and (min-width: 900px) {

  .banner {
    width: 100%;
    height: 550px;
    margin-top: -60px;

    .infos-evento {
      bottom: 25%;
      transform: translate(-50%, -10%);

      h1 {
        font-size: 4em;
      }

      p {
        font-size: 1.5em;
      }
    }
  }


}

