<div class="banner">

  <img *ngIf="evento && !evento.imagemPrincipal" src="/assets/guns.jpg" class="imagem-evento">

  <img *ngIf="!evento" src="/assets/evento-default.jpg" class="imagem-evento">

  <ng-template *ngIf="evento.imagemPrincipal">
    <div class="infos-evento">

      <a routerLink="/checkout/evento"><h1>{{ evento.nome }}</h1></a>
      <a><strong>{{ evento.localizacao.local }},</strong></a>
      <a><strong>{{ evento.localizacao.pais }},</strong></a>
      <a><strong>{{ evento.localizacao.cidade }}</strong></a>
      <a style="display: block"><strong>{{ evento.nome }}</strong></a>
      <p><strong>Ingressos a partir de {{ evento.ingressos[0].tipos[0].preco}}</strong></p>

      <div [ngStyle]="{'display': mostrarBusca && !isMobile ? 'block' : 'none' }">
        <app-input-busca></app-input-busca>
      </div>
    </div>
  </ng-template>
</div>
