.container {
  padding: 6em 1em 1em 1em;

  h1 {
    font-size: 2.5em ;
  }
}

.finalizar-pedido {
  width: 100%;
  display: flex;

  .passo-pedido {
    width: 100%;
    border-radius: .5em;
    padding: 1em;

    .infos-evento {
      display: flex;
      flex-direction: column;
      line-height: 1.5;

      .conteudo-horizontal {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          font-size: 1.25em;
        }
      }

      div {
        p {
          font-size: .875em;
        }
      }

      .fechar {
        font-size: 1em;
        display: flex;
        align-self: end;
      }

      .excluir {
        display: none;
      }

      select {
        padding: 5px 10px 5px 10px;
      }

      hr {
        width: 100%;
        background: #666666;
      }

      .subtotal {
        font-size: 2em;
      }

      a {
        text-align: center;
        margin: 10px;
        text-decoration: underline;
      }

      a:hover {
        text-decoration: none;
      }
    }

    h1 {
      font-size: 1.5em;
    }

    .metodos-pag {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;

      li {
        border: 1px solid #a6a6a6;
        margin: 5px;
        padding: .35em;
        border-radius: .25rem;
        cursor: pointer;

      }

      li:hover {
        background-color: white;
      }
    }
  }
}
