<div class="container">
  <div class="selects">
    <app-select class="select" [itens]="[1, 2, 3, 4, 5]" [placeholder]="'Data'" ></app-select>
    <app-select class="select" [itens]="[1, 2, 3, 4, 5]" [placeholder]="'País'" ></app-select>
    <app-select class="select" [itens]="[1, 2, 3, 4, 5]" [placeholder]="'Cidade'"></app-select>
    <app-select class="select" [itens]="[1, 2, 3, 4, 5]" [placeholder]="'Artista'"></app-select>
    <app-select class="select" [itens]="[1, 2, 3, 4, 5]" [placeholder]="'Preço'" ></app-select>
  </div>
</div>
