

<section class="container">
  <h1>Finalizar pedido</h1>
  <section class="finalizar-pedido">
    <div class="passo-pedido">
      <h1>Meus detalhes</h1>
      <form>
        <div class=" p-grid p-dir-col">
          <div class="p-col">
            <label class="p-col-fixed" style="width:100px">Nome</label>
            <app-input-texto id="nome"
                             [placeholder]="'Nome Completo'"
                             required="true"
                             [(ngModel)]="cliente.nome" name="nome">
            </app-input-texto>
          </div>
        </div>

        <div class=" p-grid p-dir-col">
          <div class="p-col">
            <label for="email" class="p-col-fixed" style="width:100px">E-mail</label>
            <app-input-texto id="email"
                             [placeholder]="'E-mail'"
                             required="true"
                             [(ngModel)]="cliente.email" name="email">
            </app-input-texto>
          </div>
        </div>

        <div class=" p-grid p-dir-col" style="margin-bottom: 20px">
          <label for="celular" class="p-col-fixed">Número celular</label>
          <div class="p-col">
            <p-inputMask
              id="celular"
              mask="+99 (99)-9999-9999"
              placeholder="(99)-9999-9999"></p-inputMask>
          </div>
        </div>

        <div class=" p-grid p-dir-col">
          <div class="p-col">
            <label for="pais" class="p-col-fixed" style="width:100%">País</label>
            <ng-select [items]="paises"
                       placeholder="País"
                       [clearable]="false"
                       [searchable]="false"
                       [(ngModel)]="pais"
                       id="pais"
                       class="select">
            </ng-select>
          </div>
        </div>
      </form>
    </div>


    <div class="passo-pedido">
      <h1>Método de Pagamento</h1>
      <ul class="metodos-pag">
        <li>
          <p-radioButton name="group1"
                         value="Boleto Bancário"
                         label="Boleto Bancário"
                         [(ngModel)]="metodoPagamento"
                         inputId="boleto">
          </p-radioButton>
        </li>
        <li>
          <p-radioButton name="group1"
                         value="Visa"
                         label="Visa"
                         [(ngModel)]="metodoPagamento"
                         inputId="visa">
          </p-radioButton>
        </li>
        <li>
          <p-radioButton name="group1"
                         value="Mastercard"
                         label="Mastercard"
                         [(ngModel)]="metodoPagamento"
                         inputId="mastercard">
          </p-radioButton>
        </li>
        <li>
          <p-radioButton name="group1"
                         value="PayPal"
                         label="PayPal"
                         [(ngModel)]="metodoPagamento"
                         inputId="PayPal">
          </p-radioButton>
        </li>
        <li>
          <p-radioButton name="group1"
                         value="Apple Pay"
                         label="Apple Pay"
                         [(ngModel)]="metodoPagamento"
                         inputId="applePay">
          </p-radioButton>
        </li>
      </ul>
    </div>

    <div class="passo-pedido" style="border: 2px solid #999999">
      <h1>Confirmar</h1>
      <div>
        <div class="infos-evento">
          <div class="conteudo-horizontal">
            <h4>Custo do serviço</h4>
            <h4>R$ 5,00</h4>
          </div>
          <hr>

          <div class="conteudo-horizontal">
            <h3>Total a pagar</h3>
            <h2>R$ 5,00</h2>
          </div>

          <div class="p-field p-grid">
            <button label="Finalizar Pedido"
                    pButton class="ui-button-primary largura-total"></button>
          </div>

          <a routerLink="/">Continuar comprando</a>

        </div>
      </div>
    </div>
  </section>

</section>
