<form class="p-grid">
  <div class="p-col-12 p-md-12 p-lg-12">
    <h1>Criar Evento</h1>
    <hr>
  </div>

  <div class="p-col-12 p-md-12 p-lg-12">
    <h2>Informações gerais</h2>
  </div>

    <div class="p-col-12 p-md-6 p-lg-6">
      <app-input-texto id="tituloEvento"
                       [label]="'Título'"
                       [placeholder]="'Título do Evento'"
                       [tipo]="'text'"
                       required="true"
                       [(ngModel)]="evento.nome" name="tituloEvento">
      </app-input-texto>
    </div>

    <div class="p-col-12 p-md-6 p-lg-6">
      <app-input-texto id="oraganizador"
                       [label]="'Organizador'"
                       [placeholder]="'Nome do organizador'"
                       [tipo]="'text'"
                       required="true"
                       [(ngModel)]="evento.nome" name="tituloEvento">
      </app-input-texto>
    </div>

  <div class="p-col-12 p-md-6 p-lg-6">
    <app-input-texto id="qtdMinima"
                     [label]="'Quantidade mínima'"
                     [placeholder]="'Quantidade mínima'"
                     [tipo]="'number'"
                     required="true">
    </app-input-texto>
  </div>

  <div class="p-col-12 p-md-6 p-lg-6">
    <app-input-texto id="qtdMaxima"
                     [label]="'Quantidade máxima'"
                     [placeholder]="'Quantidade máxima'"
                     [tipo]="'number'"
                     required="true"
                     [(ngModel)]="evento.nome" name="tituloEvento">
    </app-input-texto>
  </div>

    <div class="p-col-12 p-md-12 p-lg-12">
      <div class="p-grid p-align-center">
        <div class="p-col-12 p-md-8 p-lg-8">
          <app-select [label]="'Tipo'"
                      [placeholder]="'Tipo do evento'"
                      [itens]="categorias"
                      [(ngModel)]="evento.categoria">
          </app-select>
        </div>

        <div class="p-col-12 p-md-4 p-lg-4">
          <p-radioButton name="menor"
                         value="false"
                         label="Permite menor desacompanhado"
                         [(ngModel)]="evento.menorDesacompanhado"
                         inputId="menor">
          </p-radioButton>
        </div>
      </div>
    </div>

  <div class="p-col-12 p-md-12 p-lg-12">
    <hr>
    <h2>Local</h2>
    <p style="color: #1c1f1f">Depois eu integro com uma API de mapas de verdade</p>
  </div>

  <div class="p-col-12 p-md-12 p-lg-12">
    <img src="/assets/mapa.png" style="width: 100%" />
  </div>

  <div class="p-col-12 p-md-12 p-lg-12">
    <hr>
    <h2>Data e hora</h2>
  </div>

  <div class="p-col-12 p-md-6 p-lg-6">
    <app-input-calendar id="dataEvento"
                       [label]="'Data'"
                       [placeholder]="'Data do Evento'"
                       required="true"
                       [(ngModel)]="evento.data" name="dataEvento">
    </app-input-calendar>
  </div>

  <div class="p-col-12 p-md-6 p-lg-6">
    <app-input-calendar id="horaEvento"
                        [label]="'Horário'"
                        [placeholder]="'O evento começa às'"
                        [required]="true"
                        [somenteHorario]="true"
                        [(ngModel)]="evento.hora" name="horaEvento">
    </app-input-calendar>
  </div>

  <div class="p-col-12 p-md-12 p-lg-12">
    <hr>
    <h2>Imagens</h2>
  </div>

  <div class="p-col-12 p-md-6 p-lg-6">
    <app-upload [label]="'Imagem Principal do Evento'"></app-upload>
  </div>

  <div class="p-col-12 p-md-6 p-lg-6">
    <app-upload [label]="'Imagem Secundária do Evento'"></app-upload>
  </div>

  <div class="p-col-12 p-md-12 p-lg-12">
    <hr>
    <div class="criar-evento">
      <p-radioButton name="termos"
                     value="false"
                     label="Concordo com os termos de uso"
                     inputId="termos">
      </p-radioButton>
      <button label="Criar evento" pButton class="ui-button-primary"></button>
    </div>

  </div>
</form>

