
input {
    padding: 15px;
    width: 300px;
    line-height: 1.25;
    z-index: 10;
    margin-bottom: 10px;
    outline: none;
    background-color: #1c1f1f;
    color: white;
}


/* Tablet*/
@media all and (min-width: 600px) {

    input {
        width: 500px;
    }

}
