.container-categoria {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  list-style: none;
  padding: 0;

  li {
    padding: .7em;
    margin: .5em;
    color: black;
    text-decoration: none;
    border-radius: 7px;
  }

  li:hover {
    background: rgb(30, 44, 48);;
    cursor: pointer;
    color: white;
  }
}

/* Tablet*/
@media all and (min-width: 500px) {
  .container-categoria {

    justify-content: center;
    overflow: hidden;
  }
}

