.container-categoria {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #222B45;

  li {
    padding: .7em;
    margin: .5em;
    text-decoration: none;
    border-radius: 7px;
  }
}

/* Tablet*/
@media all and (min-width: 600px) {
  .container-categoria {
    justify-content: center;

    li {
      padding: .7em 1em;
      margin: .5em 1em;
    }
  }
}

