/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: raleway;
  src: url('assets/fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
}

@font-face {
  font-family: raleway-bold;
  src: url('assets/fonts/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
}

* {
  font-family: 'raleway', Arial sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #151A30;
  box-sizing: border-box;

  li {
    color: white;
    letter-spacing: .08em;
    border: none;
    outline: none;
  }

  li:hover {
    background: #116FBF;
    cursor: pointer;
    color: white;
  }
}

input {
  border-radius: 4px;
  width: 100%;
  outline: none;
}

h1, p, a {
  color: white;
  text-decoration: none;
}

hr {
  background-color: white !important;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 0;
}

.dashboard-container {
  padding: 4.5em 1em 1em 1em;
  background-color: #151A30;
}

.largura-total {
  width: 100%;
  margin-bottom: 20px;
  padding: 1em;
}

.ui-card {
  background-color: #222B45 !important;
  border: 1px solid black;
  .ui-card-title {
    color: white
  }
}

@media all and (min-width: 500px)  {
  .container {
    padding: 6em;
  }
}












