/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #1c1f1f
}


li {
  color: white;
  letter-spacing: .08em;
}

h1, p, a {
  color: white;
  letter-spacing: .08em;
  text-decoration: none;
}








