/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1c1f1f;

  li {
    color: white;
    letter-spacing: .08em;
  }

}

input {
  border-radius: 4px !important;
  width: 100% !important;
}

h1, p, a {
  color: white !important;
  letter-spacing: .08em !important;
  text-decoration: none !important;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 0;
  border: 1px solid red;
}

.largura-total {
  width: 100%;
  margin-bottom: 20px;
  padding: 1em;
}

button {
  padding: .15em !important;
}

.p-col {
  margin-bottom: 20px !important;
}

@media all and (min-width: 500px)  {
  .container {

    padding: 6em;
  }
}












