<div class="container">
  <div class = "p-grid">
    <div class="p-col-12 p-md-6 p-lg-4" >
      <img src="assets/categoria-evento/show.jpg">
    </div>

    <div class="p-col-12 p-md-6 p-lg-4" >
      <img src="assets/categoria-evento/esporte.jpg">
    </div>

    <div class="p-col-12 p-md-6 p-lg-4" >
      <img src="assets/categoria-evento/jogo.jpg">
    </div>

    <div class="p-col-12 p-md-6 p-lg-4" >
      <img src="assets/categoria-evento/cinema.jpg">
    </div>

    <div class="p-col-12 p-md-6 p-lg-4" >
      <img src="assets/categoria-evento/teatro.jpg">
    </div>

    <div class="p-col-12 p-md-6 p-lg-4" >
      <img src="assets/categoria-evento/artes.jpg">
    </div>
  </div>

</div>
