<app-banner [evento]="evento"></app-banner>
<section class="container">
  <div class="filtro"></div>
  <div class="escolha">
    <div class="ingresso">
      <app-escolha-ingresso></app-escolha-ingresso>
    </div>

    <ng-template [ngIf]="isMobile" [ngIfElse]="desktop">
      <div class="assento">
        <p-accordion>
          <p-accordionTab header="Ver mapa do ambiente">
            <div style="width: 40px; height: 40px; background: #1c1f1f"></div>
          </p-accordionTab>

        </p-accordion>
      </div>
    </ng-template>

    <ng-template #desktop>
      <div class="assento">
        <h1>Matheus lindo</h1>
      </div>
    </ng-template>
  </div>
</section>
