.container {
  padding: 3em 0 3em 0;
}

.filtro {
  display: none;

}

.escolha {
  width: 100%;
  border: 1px solid green;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;


  .ingresso, .assento {
    width: 100%;
    border: 1px solid blue;
    margin: 0 .5em 3em .5em;
  }

  .ingresso {
    margin-top: 0;
  }

  .assento {
    height: auto;
    border: 1px solid red;
    order: -1;
  }
}

@media all and (min-width: 900px) {
  .container {
    padding: .1em 6em;
  }


  .filtro {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding-left: 0;

    li {
      padding: .7em;
      color: white;
      text-decoration: none;
      border-radius: 7px;
      align-self: center;
    }

    li:hover {
      background: rgb(30, 44, 48);;
      cursor: pointer;
    }

    li:first-child {
      padding-left: 0;
      font-size: 1.5em;
    }

    li:first-child:hover {
      background: transparent;
      cursor: auto;
    }

    li:last-child {
      margin-left: auto;
    }

  }


  .escolha {
    justify-content: center;
    max-width: 1000px;

    .ingresso, .assento {
      width: calc(50% - 45px);
    }

    .assento {
      order: 0;
    }
  }
}
